.container {
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
}


.header {
    background-color: #FFFFFF;
    height:100px;
}

.footer{
    color:#cccccc;
    text-align: center;
    margin:5px;
    height: 50px;
    float:left;
    width: 100%;
}


.middle {
    background-color: #FFFFFF;
    width: 100%;
    float:left;
}

.content {
    width: 100%;
    padding: 10px 0;
    float: left;
}
.buttonPanel {
    width: 100%;
    height: 40px;
}
.navigationButton {
    margin-left: 20px;
    background: #8a8a8a;
    background-image: -webkit-linear-gradient(top, #8a8a8a, #000000);
    background-image: -moz-linear-gradient(top, #8a8a8a, #000000);
    background-image: -ms-linear-gradient(top, #8a8a8a, #000000);
    background-image: -o-linear-gradient(top, #8a8a8a, #000000);
    background-image: linear-gradient(to bottom, #8a8a8a, #000000);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.navigationButton:hover {
    background: #8ab48a;
    background-image: -webkit-linear-gradient(top, #8ab48a, #000000);
    background-image: -moz-linear-gradient(top, #8ab48a, #000000);
    background-image: -ms-linear-gradient(top, #8ab48a, #000000);
    background-image: -o-linear-gradient(top, #8ab48a, #000000);
    background-image: linear-gradient(to bottom, #8ab48a, #000000);
    text-decoration: none;
}