.table{
    border-collapse:collapse;
    width: 100%;
}

.tableHeader{
    text-align:center;
    background:none repeat scroll 0 0 #E5E5E5;
    border: 1px solid #000000;
    padding:16px;
}

.tableOddRow{
    text-align:center;
    background: #ffffff;
    border: 1px solid #000000;
}

.tableEvenRow{
    text-align:center;
    background: silver;
    border: 1px solid #000000;
}