<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Система хранения и управления данными об учащихся и преподавателях</title>
</h:head>
<h:body>
    <ui:composition template="../templates/template.xhtml">
        <ui:define name="content">
            <h:dataTable value="#{professorController.professorList}" var="prof"
                         styleClass="table"
                         border="1"
                         headerClass="tableHeader"
                         rowClasses="tableOddRow,tableEvenRow">
                <h:column>
                    <f:facet name="header">Фамилия</f:facet>
                    <h:outputLabel value="#{prof.surname}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Имя</f:facet>
                    <h:outputLabel value="#{prof.name}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Отчество</f:facet>
                    <h:outputLabel value="#{prof.middleName}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Перечень предметов</f:facet>
                    <h:outputLabel value="#{prof.allSubjectsAsString}"/>
                </h:column>
            </h:dataTable>
            <p>Найдено преподователей: #{professorController.professorList.size()}</p>
        </ui:define>
    </ui:composition>
</h:body>
</html>