<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Система хранения и управления данными об учащихся и преподавателях</title>
    <h:outputStylesheet library="css" name="table.css"/>
</h:head>
<h:body>

    <ui:composition template="../templates/template.xhtml">
        <ui:define name="content">
            <h:form id="mainForm">
                <p:dataTable var="st" value="#{studentTableView.students}"
                             id="studentTable"
                             widgetVar="studentTable"
                             resizableColumns="true"
                             editable="true"
                             filteredValue="#{studentTableView.filteredStudents}"
                             rowKey="#{st.studentId}"
                             emptyMessage="Записи не найдены"
                             selection="#{studentTableView.selectedStudent}"
                             selectionMode="single">

                    <p:column headerText="Фамилия" filterBy="#{st.surname}" filterMatchMode="contains">
                        <h:outputText value="#{st.surname}" />
                    </p:column>

                    <p:column headerText="Имя" filterBy="#{st.name}" filterMatchMode="contains">
                        <h:outputText value="#{st.name}" />
                    </p:column>

                    <p:column headerText="Отчество" filterBy="#{st.middlename}" filterMatchMode="contains">
                        <h:outputText value="#{st.middlename}" />
                    </p:column>

                    <p:column headerText="Номер группы" filterBy="#{st.studentGroup.shortDescription}" filterMatchMode="contains">
                        <h:outputText value="#{st.studentGroup.shortDescription}" />
                    </p:column>

                    <p:column headerText="Специальность" filterBy="#{st.studentGroup.specialty}" filterMatchMode="contains">
                        <h:outputText value="#{st.studentGroup.specialty}" />
                    </p:column>

                    <p:column headerText="Факультет" filterBy="#{st.studentGroup.faculty.name}" filterMatchMode="contains">
                        <h:outputText value="#{st.studentGroup.faculty.name}" />
                    </p:column>

                    <f:facet name="footer">
                        <p:commandButton process="studentTable" action="#{studentTableView.addStudent()}" update=":mainForm:studentEdit" icon="ui-icon-plusthick" value="Добавить" oncomplete="PF('studentDialog').show()"/>
                        <p:commandButton process="studentTable" action="#{studentTableView.editStudent()}" update=":mainForm:studentEdit" icon="ui-icon-pencil" value="Редактировать" oncomplete="PF('studentDialog').show()" />
                        <p:commandButton process="studentTable" action="#{studentTableView.deleteStudent()}" update=":mainForm" icon="ui-icon-trash" value="Удалить" />
                    </f:facet>

                </p:dataTable>

                <p:dialog header="Редактирование" widgetVar="studentDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="studentEdit" style="text-align:center;">
                        <h:panelGroup rendered="#{not empty studentTableView.selectedStudent}">
                            <h:form>
                                <p:panelGrid  columns="2" rendered="#{not empty studentTableView.selectedStudent}" columnClasses="label,value">
                                    <h:outputText value="Фамилия:" />
                                    <p:outputPanel>
                                        <h:inputText id="surname-input" value="#{studentTableView.selectedStudent.surname}" required="true" requiredMessage="Введите фамилию"/>
                                        <p:message for="surname-input"/>
                                    </p:outputPanel>


                                    <h:outputText value="Имя:" />
                                    <p:outputPanel>
                                        <h:inputText id="name-input" value="#{studentTableView.selectedStudent.name}" required="true" requiredMessage="Введите имя"/>
                                        <p:message for="name-input"/>
                                    </p:outputPanel>

                                    <h:outputText value="Отчество:" />
                                    <h:inputText id="midname-input" value="#{studentTableView.selectedStudent.middlename}" />

                                    <h:outputText value="Факультет"/>
                                    <p:selectOneMenu id="selectFaculty" value="#{studentTableView.selectedFaculty}" effect="fold"
                                            converter="facultyConverter">
                                        <p:ajax update="selectGroup" />
                                        <f:selectItems value="#{studentTableView.allFaculties}" var="f" itemLabel="#{f.name}" itemValue="#{f}"/>
                                    </p:selectOneMenu>

                                    <h:outputText value="группа"/>
                                    <p:selectOneMenu id="selectGroup" value="#{studentTableView.selectedStudent.studentGroup}" effect="fold" required="true" converter="groupConverter">
                                        <f:selectItems value="#{studentTableView.selectedFaculty.groupsList}" var="g" itemValue="#{g}" />
                                    </p:selectOneMenu>

                                </p:panelGrid>
                                <p:commandButton process="@form" update=":mainForm:studentEdit" actionListener="#{studentTableView.saveOrUpdate}" icon="ui-icon-check" value="Применить" action="students"/>
                                <p:commandButton immediate="true" process="@all" update=":mainForm" icon="ui-icon-closethick" value="Отмена" oncomplete="PF(PF('studentDialog').hide())"/>
                            </h:form>
                        </h:panelGroup>
                        <h:outputText value="Выберите студента для редактирования" rendered="#{empty studentTableView.selectedStudent}"/>

                    </p:outputPanel>
                </p:dialog>

            </h:form>
        </ui:define>
    </ui:composition>

</h:body>
</html>