<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="main.css"  />
    </h:head>
    <h:body>
        <ui:composition>
            <h1>Здесь будет красивая картинка</h1>
            <div class="buttonPanel">
                <h:form>
                    <h:commandButton styleClass="navigationButton" action="students" value="Студенты"/>
                    <h:commandButton styleClass="navigationButton" action="professors" value="Преподаватели"/>
                </h:form>
            </div>
        </ui:composition>
    </h:body>
</html>

