<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Система хранения и управления данными об учащихся и преподавателях</title>
        <h:outputStylesheet library="css" name="main.css"/>
        <h:outputStylesheet library="css" name="table.css"/>
    </h:head>
    <h:body>
        <div class="container">

            <div class="header">
                <ui:insert name="header">
                    <ui:include src="/templates/header.xhtml"/>
                </ui:insert>                 
            </div>

            <div class="middle">

                <div class="content">
                    <ui:insert name="content">
                        <ui:include src="/templates/content.xhtml"/>
                    </ui:insert>                 
                </div>

                <div style="clear: both;">&nbsp;</div>

            </div>

            <div class="footer">
                <ui:insert name="footer">
                    <ui:include src="/templates/footer.xhtml"/>
                </ui:insert>                 
            </div>

        </div>
    </h:body>
</html>

