<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Система хранения и управления данными об учащихся и преподавателях</title>
        <h:outputStylesheet library="css" name="main.css"/>
    </h:head>
    <h:body>
        <ui:composition template="templates/template.xhtml">
            <ui:define name="content">
                <h4>Здесь будет приветствие</h4>
            </ui:define>
        </ui:composition>
    </h:body>
</html>